$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 24px;
$spacing-6: 32px;
$spacing-7: 40px;

$spacings: $spacing-1, $spacing-2, $spacing-3, $spacing-4, $spacing-5, $spacing-6, $spacing-7;