/* Margins */
@for $index from 1 through 5 {
    .m-#{$index} {
        margin: $spacing-#{$index} !important;
    }
    .mt-#{$index} {
        margin-top: $spacing-#{$index} !important;
    }
    .mr-#{$index} {
        margin-right: $spacing-#{$index} !important;
    }
    .mb-#{$index} {
        margin-bottom: $spacing-#{$index} !important;
    }
    .ml-#{$index} {
        margin-left: $spacing-#{$index} !important;
    }
    .my-#{$index} {
        margin-top: $spacing-#{$index} !important;
        margin-bottom: $spacing-#{$index} !important;
    }
    .mx-#{$index} {
        margin-right: $spacing-#{$index} !important;
        margin-left: $spacing-#{$index} !important;
    }
}

/* Paddings */
@for $index from 1 through 5 {
    .p-#{$index} {
        margin: $spacing-#{$index} !important;
    }
    .pt-#{$index} {
        margin-top: $spacing-#{$index} !important;
    }
    .pr-#{$index} {
        margin-right: $spacing-#{$index} !important;
    }
    .pb-#{$index} {
        margin-bottom: $spacing-#{$index} !important;
    }
    .pl-#{$index} {
        margin-left: $spacing-#{$index} !important;
    }
    .py-#{$index} {
        margin-top: $spacing-#{$index} !important;
        margin-bottom: $spacing-#{$index} !important;
    }
    .px-#{$index} {
        margin-right: $spacing-#{$index} !important;
        margin-left: $spacing-#{$index} !important;
    }
}